*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background: #0E1014;
}

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
nav a{
  font-family: "Inter";

}
span{
  
  font-family: "Montserrat";
}
h3 span {
  font-family: "Inter";
  
}
nav li:hover,
nav a:hover{
  cursor: pointer;
  transform: translateY(-3px);
  transition: transform 0.2s ease-in-out;
}
article span svg{
  transition: all 0.5s ease-in-out;
  
 
}
article span svg:hover{
  background: white;
  padding: 3px;
  border-radius: 50%;
}
article span svg:hover path{
  fill: black;
}
button:hover {
  
  background: #000;
  border: 1px solid white;

}